@namespace BootstrapBlazor.Components

@if (Html != null)
{
    <iframe @ref="Element"
            sandbox="allow-scripts"
            allow="fullscreen"
            style="@($"border: none; width: {Width}; height: {Height};{StyleString}")"
            srcdoc="@Html" />
}
else if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
}
else if (string.IsNullOrEmpty(Filename))
{
    <p>@NodataString</p>
}
else
{
    <p>@LoadingString</p>
}